<footer class="site-footer">

  {% if page.url == "/" %}

  <div class="wrapper">

    <div class="newsletter mt4 mb4">
      <h4>Keep up-to-date with our projects <br> by subscribing to our newsletter:</h4>
      {% include mailchimp.html %}
    </div>

    <h4 class="m0">CONTACT</h4>
    {% include vcard.html %}

  </div>

  {% endif %}

  <div class="social mt4">
    <!--
    <a href="https://twitter.com/solutionio" target="_blank">Twitter</a>
    <a href="https://www.facebook.com/solution.io" target="_blank">Facebook</a>
    -->
    <a class="imprint" href="/imprint">Imprint</a>
  </div>

</footer>
